# Google SMTP Configuration
GMAIL_USER=you@example.com
GMAIL_APP_PASSWORD=your-google-app-password

# Server Configuration
SERVER_PORT=4000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=change-this-secret

# MongoDB Configuration
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/condominio-app?retryWrites=true&w=majority
